body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
}
.frame {
    height: 550px;
    width: 400px;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    
}

.display {
    height: 75px;
    width: 350px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: end;
    padding-right: 20px;
    padding-top: 4px
}

.row0 {
    display: flex;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}

.row3 { 
    display: flex;
}

.row4 {
    display: flex;
}

button {
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 10px;
}

.clear, .zero {
    flex-grow:1;
}